services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: fueleu
      POSTGRES_PASSWORD: fueleu
      POSTGRES_DB: fueleu
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
